html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
}

#controls {
	border-bottom: 1px solid black;
	padding: 5px;
	padding-bottom: 10px;
	line-height: 30px;
	vertical-align: middle;
}
#controls > div > * {
	height: 28px;
	box-sizing: border-box;
	vertical-align: middle;
}
#controls .spacer {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	line-height: 18px;
}
#controls .spacer::before {
	content: '|';
}
#controls .part {
	display: inline-block;
	border-left: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
}

#controls input[type=radio] {
	display: none;
}
#controls label {
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin: 0px 0px;
	border: 0px solid #2ea2cc;
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: center;
}
#controls input[type=radio]:checked + label {
	border-width: 4px;
	background-size: 18px;
}

#canvas {
	display: block;
}
#canvas.mode-translate:hover {
	cursor: move;
}

.icon {
	height: 32px !important;
	width: 32px !important;
	display: inline-block;
	background-size: 100%;
}
.icon:hover {
	cursor: pointer;
}
.icon.undo {
	background-image: url(img/icon-undo.svg);
}
.icon.clear {
	background-image: url(img/icon-clear.svg);
}
.icon.download {
	background-image: url(img/icon-download.svg);
}
.icon.freehand {
	background-image: url(img/icon-freehand.svg);
}
.icon.line {
	background-image: url(img/icon-line.svg);
}
.icon.rectangle {
	background-image: url(img/icon-rectangle.svg);
}
.icon.circle {
	background-image: url(img/icon-circle.svg);
}
.icon.select {
	background-image: url(img/icon-select.svg);
}
.icon.translate {
	background-image: url(img/icon-translate.svg);
}
